<div class="container">
  <h1 class="title">Delicious Food Gallery</h1>
  <div class="row image-container">
    <div class="col-md-3">
      <img src="../../assets/images/cake-3669245_1280.jpg" alt="Cake">
    </div>
    <div class="col-md-3">
      <img src="../../assets/images/chicken-nuggets-1351329_1280.jpg" alt="Chicken Nuggets">
    </div>
    <div class="col-md-3">
      <img src="../../assets/images/macarons-2548818_1280.jpg" alt="Macarons">
    </div>
    <div class="col-md-3">
      <img src="../../assets/images/sandwich-5930496_1280.jpg" alt="Sandwich">
    </div>
    
  </div>
  
</div>