<nav class="navbar">
    <span class="nav-brand">CookBook</span>
    <div class="nav-links">
      <div class="nav-item">
        <a class="btn" routerLink="/authentication/login">Login</a>
      </div>
      <div class="nav-item">
        <a class="btn" routerLink="/authentication/register">Register</a>
      </div>
      <div class="nav-item">
        <a class="btn" routerLink="/recipe/all-recipes">All-Recipes</a>
      </div>
      <div class="nav-item">
        <a class="btn" routerLink="/recipe/add-recipe">Add-Recipe</a>
      </div>
      <div class="nav-item">
        <a class="btn" routerLink="/authentication/logout">Logout</a>
      </div>
    </div>
  </nav>